*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    min-height: 100vh;
}
#home
{
    background-image: url("../assets/images/mybanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about
{
    /* background-color: #ea5; */
}
.person
{
    background-image: url("../assets/images/person.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 85vh;
}

.title
{
    font-weight: 700;
    font-size: xx-large;
}

.title::after
{
    position: absolute;
    content: '';
    border: 5px solid #FFA500;
    background-color: #FFA500;
    width: 100px;
    margin: 40px -150px auto;
}

#about_2
{
    background-color: #eae;
}
#about_3
{
    background-color: #fee;
}
#counter_description
{
    background-color: #ea5;
}
.header-text
{
    font-size: 4em;
    color: #FFA500;
}

.fa-3x{
    color: #FFA500;
}

button.border-warn
{
    border: 1px solid #FFA500;
}

div.button.border-warn:hover
{
    background-color: #FFA500;
    color: #fff;
}


 /*Search input*/

 .search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1); 
    }

    .search .fa-search{
     position: absolute;
     top: 7px;
     left: 150px;
     color: #fff;
    }

    .search button{
     position: absolute;
     /* top: 5px;
     right: 5px; */
     /* height: 50px; */
     background: none;
     border: none;
    }

       .search input{

        height: 30px;
        width:auto;
        text-indent: 25px;
        background-color:rgba(0,0,0,0) !important;
        border:1px solid #eee !important;
    }

    .search input:focus{
        box-shadow: none;
        border: 2px solid blue;
        background-color: rgba(0,0,0,0);
       }